/* GLOBAL DEFAULTS */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

html,
body {
	height: 100vh;
	height: 100dvh;
	max-height: 100vh;
	max-height: 100dvh;
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-size: 20px;
}
/* */

body {
	font-family: Roboto, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	--background-color: #fff;
	background-color: var(--background-color);

	--black: #333;
	--blue-0: #3003d9;
	--blue-1: #3003d9;
	/* --blue-1: #0c0293; */
	--red-0: #ea323c;
	--red-1: #c42430;
}

/* COLORS */
.b-blue {
	--border-color: var(--blue-0);
}
.t-blue {
	--text-color: var(--blue-1);
}
.blue {
	--border-color: var(--blue-0);
	--text-color: var(--blue-1);
}

.b-red {
	--border-color: var(--red-0);
}
.t-red {
	--text-color: var(--red-1);
}
.red {
	--border-color: var(--red-0);
	--text-color: var(--red-1);
}
/* */

.diagram {
	padding: 3rem;
	width: min-content;
	height: min-content;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;

	&.row {
		flex-direction: row;
	}
	@for $i from 1 through 8 {
		&.col-#{$i} {
			display: grid;
			grid-template-columns: repeat(#{$i}, auto);
		}
	}
}

/* OBJECTS */
.container {
	padding: 0.1rem 0.25rem;
	border-radius: 7px;
	background-color: var(--background-color);

	color: var(--text-color);
	border-color: var(--border-color);
	position: relative;

	width: fit-content;
	height: fit-content;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	&.row {
		flex-direction: row;
	}

	&[label] {
		margin-top: 1rem;
	}
	&[label]::before {
		position: absolute;
		bottom: 100%;
		left: 0%;
		display: block;
		content: attr(label);
		color: var(--border-color);
	}
}
.box {
	padding: 1rem;

	border: solid 2px;
	border-radius: 10px;

	min-width: 8rem;
	min-height: 2.5rem;
}

.folder {
	padding: 0.5rem 1rem 0.5rem 0.5rem;

	border: solid 2px;
	border-radius: 10px;
	border-top-left-radius: 3px;

	min-width: 5rem;
	min-height: 2.5rem;

	&::before {
		display: block;
		content: '';
		position: absolute;
		bottom: 100%;
		left: 0%;
		min-height: 10px;
		min-width: 30px;

		padding: 0.1rem 0.5rem;
		font-size: 12px;

		border: solid 2px;
		border-bottom: 0px;

		border-top-right-radius: 10px;
		border-top-left-radius: 3px;
	}
}
/* */

/* MODIFIERS */
.dashed {
	/* border: dashed 2px var(--border-color); */
	border-style: dashed;
	&::before {
		border-style: dashed;
	}
}

.skew {
	transform: skew(-10deg);

	& > * {
		transform: skew(10deg);
	}
}

.abs {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	&.top {
		top: 0%;
	}
	&.bottom {
		top: 100%;
	}
	&.left {
		left: 0%;
	}
	&.right {
		left: 100%;
	}
}
/* */

/* ICONS */
.icon {
	display: flex;
	justify-content: center;
	align-items: center;

	.material-icons {
		color: inherit;

		font-size: 40px;
	}
}
/* */
